<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PlanKindMapper">
	<!-- 开启二级缓存 -->
	<cache eviction="FIFO"
		   flushInterval="6000"
		   size="512"
		   readOnly="true" />

	<resultMap id="list_plan_kind" type="com.example.demo.data.PlanKind"></resultMap>
	
	<select id="listPalnKind"   resultMap="list_plan_kind">
		select `id`, `detail`, `ticketKindId`, `pagerId`, `name`, `host`, `detailName`,  `plyedId` ,`status` from plankind  
	</select>
 

</mapper>